[submodule "omnia/turris-omnia-uboot"]
	path = omnia/turris-omnia-uboot
	url = git@gitlab.labs.nic.cz:turris/turris-omnia-uboot.git
[submodule "mox/linux"]
	path = mox/kernel/linux
	url = git@github.com:tmshlvck/linux.git
[submodule "omnia/kernel/linux"]
	path = omnia/kernel/linux
	url = https://github.com/tmshlvck/linux.git
	branch = omnia
