# C extensions
*.so

# Packages
*.deb
*.tar.gz
*.md5
*.diff.gz
*.dsc
*.buildinfo
*.changes
*.diff.gz

# metapackage recipe
mox/kernel/*.cfg

# root dirs
omnia/root
mox/root

# build dir
mox/uboot/builddir/
